<% provide(:title, "投稿編集")%>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2>投稿編集</h2>
      <%= form_with model:@post, local:true do |f| %>
      <%= render 'layouts/errors', obj: @post%>
      <div class="field my-2 d-flex">
        <div>
         <%= f.label :"画像" %>
         <%= f.attachment_field :post_image,class:"form-control-file"%>
        </div>
        <%= attachment_image_tag(@post, :post_image,:fill,200,200,fallback: "no_image.png")%>
      </div>

      <div class="field my-2">
        <%= f.label :"カテゴリーを選んでください" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name,{ prompt: "選択してください" }, class: "form-control" %>          
      </div>
      
      <div class="field my-2">
        <%= f.label :"タイトル" %>
        <%= f.text_field :title,class: "form-control"%>         
      </div>
      
      <div class="field my-2">
        <%= f.label :"本文" %>
        <%= f.text_area :content,class:"form-control"%>        
      </div>   
      
      <div class="form-group d-flex justify-content-around">
       <%= f.submit "更新する", class:"btn btn-success"%>
       <%= link_to "投稿詳細画面へ戻る", post_path,class:"btn btn-secondary"%>
      </div>
      
     <% end%>
    </div>
  </div>
</div>