<% provide(:title, "新規投稿")%>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2 class="page-title text-center mb-2">新規投稿</h2>
      <%= form_with model:@post, local:true do |f| %>
      <%= render 'layouts/errors', obj: @post%>
      <div class="form-group my-2 d-flex">
        <div>
         <%= f.label :"画像" %>
         <%= f.attachment_field :post_image,class:"form-control-file"%>
        </div>
      </div>
      <%= render "public/posts/form", f: f%>
      <div class="form-group d-flex justify-content-around">
       <%= f.submit "投稿する", class:"btn btn-success"%>
       <%= link_to "投稿一覧へ戻る", posts_path,class:"btn btn-secondary"%>
      </div>
      
     <% end%>
    </div>
</div>