<% provide(:title, "投稿詳細")%>
<div class="card mb-3 w-50 mx-auto">
  <h3 class="card-title font-weight-bold"><%= @post.title%></h3>
  <p class="card-text"><small class="text-muted"><%= @post.created_at.strftime("%Y-%m-%d")%></small></p>
  <%= render "public/posts/drop", post: @post%>
  <div class="text-center"><%= attachment_image_tag(@post, :post_image,:fill,300,300,fallback: "no_image.png")%></div>
  <div class="card-body border-top mt-3">
    <%= link_to user_path(@post.user) do%>
      <p><%= full_name(@post.user)%></p>
    <% end %>
    <p class="card-text"><%= @post.content%></p>
    <tr id="post_<%= @post.id %>">
      <td class="like_btn"><%= render "public/likes/like_btn", post: @post %></td>
    </tr>
  </div>
</div>