<h2 class="text-center">チャット一覧</h2>
  <div class="row">
  <% if @room_lists.exists? %>
    <table class="table col-8 mx-auto">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー名</th>
          <th></th>
        </tr>
      </thead>
      <% @room_lists.each do |room|%>
      <tbody>
          <tr>
          <th><%= attachment_image_tag(room.user, :profile_image,size:"50x50",class:"rounded-circle")%></th>
            <%= link_to user_path(room.user) do%>
            <th><%= full_name(room.user)%></th>
            <% end %>
            <th><%= link_to "チャットを続ける",chat_path(room.user_id) %></th>
            <th><%= link_to "チャット削除", user_room_path(room), method: :delete, data: { confirm: '本当に消しますか？'}, class:"btn btn-danger"%></th>
          </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
    <div class="coll mx-auto">
      <p>まだチャットをした相手がいません。</p>
      <p><%= link_to "会員一覧をチェックしてみましょう", users_path, class:"btn btn-primary"%></p>
    </div>
  <% end %>
  </div>
</div>