<% provide(:title, "チャット一覧")%>
<h2 class="page-title text-center">チャット一覧</h2>
  <div class="row">
  <% if @room_lists.exists? %>
    <table class="table mx-auto">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @room_lists.each do |room|%>
      <tbody>
          <tr>
          <th><%= attachment_image_tag(room.user, :profile_image,size:"50x50",class:"rounded-circle")%></th>
              <th>
                <%= link_to user_path(room.user) do%>
                  <%= full_name(room.user)%>
                <% end %>
              </th>
            <th>
              <%= link_to chat_path(room.user_id), class:"btn btn-primary" do %>
                <i class="far fa-comments"><span class="mr-2"></span>チャットする</i>
              <% end %>
            </th>
            <th>
              <%= link_to user_room_path(room), method: :delete, data: { confirm: '本当に消しますか？'}, class:"btn btn-danger" do %>
                <i class="fas fa-trash"><span class="mr-2"></span>チャット削除</i>
              <% end %>
            </th>
          </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
    <div class="coll mx-auto">
      <p>まだチャットをした相手がいません。</p>
      <p><%= link_to "会員一覧をチェックしてみましょう", users_path, class:"btn btn-primary"%></p>
    </div>
  <% end %>
  </div>
</div>