<% provide(:title, "投稿詳細")%>
<div class="card mb-3 w-50 mx-auto">
  <h3 class="card-title font-weight-bold"><%= @post.title%></h3>
  <p class="card-text"><small class="text-muted"><%= @post.created_at.strftime("%Y-%m-%d")%></small></p>
  <p class="text-right mr-3"><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-danger btn-lg"%></p>
  <div class="text-center"><%= attachment_image_tag(@post, :post_image,:fill,300,300,fallback: "no_image.png")%></div>
  <div class="card-body border-top mt-3">
    <%= link_to admin_user_path(@post.user) do%>
      <h5><%= full_name(@post.user)%></h5>
    <% end %>
    <p class="card-text"><%= @post.content%></p>
  </div>
</div>