<h3>新規会員登録</h3>
<div class="row">
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <table>
        <tbody>
          <tr>
            <th>名前</th>
            <td class="sign-up-small-cell">(姓)</td>
            <td><%= f.text_field :last_name, autofocus: true %></td>
            <td class="sign-up-small-cell">(名)</td>
            <td><%= f.text_field :first_name, autofocus: true %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td class="sign-up-small-cell"></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%></td>
          </tr>
          <tr>
            <th>住所</th>
            <td class="sign-up-small-cell"></td>
            <td colspan="3"><%= f.text_field :address, autofocus: true, class: "sign-up-address" %></td>
          </tr>
            <th>パスワード（６文字以上）</th>
            <td class="sign-up-small-cell"></td>
            <td><%= f.password_field :password %></td>
          </tr>
          <tr>
            <th>パスワード（確認用）</th>
            <td class="sign-up-small-cell"></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "current-password" %></td>
          </tr>
        </tbody>
      </table>
      <div class="customer-sign-up-actions">
        <%= f.submit "新規登録", class:"btn btn-success col-xs-3 col-xs-offset-5" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container col-xs-6 col-xs-offset-2 sign-up-message">
  <h3>既に登録済みの方</h3>
  <div class="row">
    <span class="col-xs-offset-"><%= link_to 'こちら', new_user_session_path %>からログインしてください。</span>
  </div>
</div>