<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2>プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user%>
      <%= render 'users/edit', user: @user%>
      <div class="form-group d-flex justify-content-around">
       <%= link_to "戻る",user_path(current_user),class:"btn btn-secondary"%>
       <%= f.submit "更新する", class:"btn btn-success"%>
       <%= link_to "退会ページへ進む", user_quit_path(current_user),class:"btn btn-danger"%>
      </div>
      
     <% end%>
    </div>
  </div>
</div>