<% provide(:title, "プロフィール編集")%>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2 class="page-title mb-3">プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user%>
      <div class="field my-2 d-flex">
        <div>
         <%= f.label :"プロフィール画像" %>
         <%= f.attachment_field :profile_image,class:"form-control-file"%>
        </div>
        <%= attachment_image_tag(@user, :profile_image,:fill,200,200,fallback: "no_image.png")%>
      </div>
      
      <%= render "public/users/entry", f: f %>
      
      <div class="field my-2">
        <%= f.label :"所属先" %>
        <%= f.text_field :work,placeholder:"例）◯◯市立△△小学校",class: "form-control"%>         
      </div>
      
      <div class="field my-2">
        <%= f.label :"自己紹介" %>
        <%= f.text_area :introduction,placeholder:"例）本やニュースで学んだことをサクッと皆さんと共有していきます。",class:"form-control"%>        
      </div>      
      <div class="form-group d-flex justify-content-around">
       <%= link_to "戻る",user_path(current_user),class:"btn btn-secondary"%>
       <%= f.submit "更新する", class:"btn btn-success"%>
       <%= link_to "退会ページへ進む", quit_user_path(current_user),class:"btn btn-danger"%>
      </div>
      
     <% end%>
    </div>
  </div>