<% provide(:title, "プロフィール編集")%>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2>プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user%>
      <div class="field my-2 d-flex">
        <div>
         <%= f.label :"プロフィール画像" %>
         <%= f.attachment_field :profile_image,class:"form-control-file"%>
        </div>
        <%= attachment_image_tag(@user, :profile_image,:fill,100,100,fallback: "no_image.png",class:"rounded-circle")%>
      </div>
      
      <%= f.label :"名前" %>
      <div class="d-flex justyfy-content-around my-2">
        <%= f.text_field :last_name, autofocus: true,class:"form-control mr-2" %>
        <%= f.text_field :first_name, autofocus: true,class:"form-control ml-2" %>
      </div>
      
      <div class="field my-2">
        <%= f.label :"学校所在地" %>
        <%= f.collection_select :prefecture_code,JpPrefecture::Prefecture.all, :code, :name,{ prompt: "選択してください" }, class: "form-control" %>          
      </div>
      
      <div class="field my-2">
        <%= f.label :"所属先" %>
        <%= f.text_field :work,class: "form-control"%>         
      </div>
      
      <div class="field my-2">
        <%= f.label :"教員歴" %>
        <%= f.select :history_status, User.history_statuses.keys,{ prompt: "選択してください" },class: "form-control" %>          
      </div>
      
      <div class="field my-2">
        <%= f.label :"自己紹介" %>
        <%= f.text_area :introduction,placeholder:"例）本やニュースで学んだことをサクッと皆さんと共有していきます。",class:"form-control"%>        
      </div>      
      <div class="form-group d-flex justify-content-around">
       <%= link_to "戻る",user_path(current_user),class:"btn btn-secondary"%>
       <%= f.submit "更新する", class:"btn btn-success"%>
       <%= link_to "退会ページへ進む", quit_user_path(current_user),class:"btn btn-danger"%>
      </div>
      
     <% end%>
    </div>
  </div>
</div>