<% provide(:title, "ユーザー詳細")%>
    <!--user情報-->
  <div class="row">
    <div class="col-md-3">
      <div>
        <div><%= attachment_image_tag(@user, :profile_image,:fill,200,200,fallback: "no_image.png")%></div>
        <p><%= full_name(@user)%></p>
        <div id="follow-btn">
          <%= render "public/relationships/relation_btn", user: @user%>
        </div>
          <%= render "public/chats/chat_btn", user: @user%>
        <div id="follow-count">
          <%= render "public/relationships/relation_count", user: @user%>
        </div>
          <%= render "public/users/details", user: @user%>
      </div>
    </div>
    
    <div class="col-md-7 offset-1">
      <div class="row mt-3">
        <h5 class="mr-4">学校所在地:</h5>
        <p><%= @user.prefecture_name%></p>
      </div>
      <div class="row mt-3">
        <h5 class="mr-4">所属先:</h5>
        <p><%= @user.work%></p>
      </div>
        <div class="row mt-3">
        <h5 class="mr-4">教員歴:</h5>
        <p><%= @user.history_status%></p>
      </div>
      <div class="row mt-3">
        <h5 class="mr-4">自己紹介:</h5>
        <p><%= @user.introduction%></p>
      </div>      
    </div>
  </div>
    <!--右側-->
    <div class="row">
      <div class="col-md-12 offset-1">
        <div class="row">
          <%= render "public/posts/index", posts: @posts%>
        </div>
      </div>
    </div>