<% provide(:title, "ユーザー詳細")%>
<div class="container">
  <div class="row">
    <!--左側-->
    <div class="col-lg-3">
      <div class="container">
        <div>
          <div><%= attachment_image_tag(@user, :profile_image,:fill,200,200,fallback: "no_image.png")%></div>
          <p><%= full_name(@user)%></p>
        </div>
          <div class="container">
              <div class="row mt-3">
                <h5 class="mr-4">学校所在地:</h5>
                <p><%= @user.prefecture_name%></p>
              </div>
              <div class="row mt-3">
                <h5 class="mr-4">所属先:</h5>
                <p><%= @user.work%></p>
              </div>
              <div class="row mt-3">
                <h5 class="mr-4">教員歴:</h5>
                <p><%= @user.history_status%></p>
              </div>
              <div class="row mt-3">
                <h5 class="mr-4">自己紹介:</h5>
                <p><%= @user.introduction%></p>
              </div>
        </div>
          <div id="follow-btn_<%= @user.id%>">
            <%= render "public/relationships/relation_btn", user: @user%>
          </div>
            <%= render "public/chats/chat_btn", user: @user%>
          <div id="follow-count_<%= @user.id%>">
            <%= render "public/relationships/relation_count", user: @user%>
          </div>
            <%= render "public/users/details", user: @user%>
      </div>
    </div>
    
    <!--右側-->
    <div class="col-lg-7">

    </div>
  </div>
</div>