<li class="nav-item">
   <%= link_to"チャット", chats_path,class: 'nav-link text-dark'%>
</li>
<li class="nav-item">
    <%= link_to"ユーザー一覧", users_path,class: 'nav-link text-dark'%>
</li>  
<li class="nav-item">
    <%= link_to"投稿", new_post_path,class: 'nav-link text-dark'%>
</li>  
<li class="nav-item">
  <%= link_to"マイページ", user_path(current_user),class: 'nav-link text-dark'%>
</li>
<li class="nav-item">
  <%= link_to"ログアウト", destroy_user_session_path,method: :delete,class: 'nav-link text-dark'%>
</li>