<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
  <% if current_page? (root_path)%>
    <div id="splash">
      <div id="splash_logo"><%= image_tag 'logo.png', class: "d-block w-100 "%></div>
    </div>
  <% end %>
  
    <%= render "layouts/header"%>
    <%= render "layouts/flash"%>
    <main id="main">
      <div class="container my-3">
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer"%>
  </div>
  </body>
</html>
